</br>
<center>
   </br>
   </br>
   
   <div class="row">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Some Sample Company Exchange Symbols </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <table class="table">
                     <thead>
                        <tr>
                           <th scope="col">Company</th>
                           <th scope="col">Exchange Symbol</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Alphabet</td>
                           <td><strong>goog</strong></td>
                        </tr>
                        <tr>
                           <td>Google</td>
                           <td><strong>googl</strong></td>
                        </tr>
                        <tr>
                           <td>Amazon</td>
                           <td><strong>amzn</strong></td>
                        </tr>
                        <tr>
                           <td>Facebook</td>
                           <td><strong>fb</strong></td>
                        </tr>
                        <tr>
                           <td>Apple</td>
                           <td><strong>aapl</strong></td>
                        </tr>
                        <tr>
                           <td>Microsoft</td>
                           <td><strong>msft</strong></td>
                        </tr>
                        <tr>
                           <td>Adobe</td>
                           <td><strong>adbe</strong></td>
                        </tr>
                        <tr>
                           <td>The Coca-Cola Co. </td>
                           <td><strong>ko</strong></td>
                        </tr>
                        <tr>
                           <td>FORD MOTOR CO </td>
                           <td><strong>f</strong></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="https://iextrading.com/trading/eligible-symbols/" target="_blank"><button type="button" class="btn btn-primary">Check Out Full List of Exchange Symbols</button></a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div>
            <h4>
            Checking Stock details of your favourite company is now super easy!
            <h4>
            <br/>
            <h4>
                {{!-- This uses typewriter.js which is in resource folder of public --}}
                {{!-- typewriter.js is embedded in main.handlebars' head section --}}
  <a class="typewrite" data-period="2000" data-type='[ "Just enter the exchange symbol of your favourite company in the search bar present in Menu above.", "Have fun!" ]'>
    <span class="wrap"></span>
  </a>
</h4>
         </div>
         <br/><br/>
         <div class="error-actions">
            <!-- Button trigger modal -->
            
         </div>
      </div>
      <div class="col-md-3">
         <img src="https://images.vexels.com/media/users/3/151004/isolated/preview/8c9fcc41d2255904671c355fb02c3ed8-growth-graph-doodle-by-vexels.png" height="300px" width="300px">
      </div>
      <div class="col-md-3">
         <img src="https://images.vexels.com/media/users/3/128423/isolated/preview/19d8eb1829e3b760374670b17146efb0-pie-chart-hand-drawn-doodle-by-vexels.png" height="300" width="300">
      </div>
   </div>
   </div>
   </br>
   <div class="row">
       <div class="col-md-12">
           <center>
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Click to view some sample company exchange symbols 
            </button>
            </center>
           </div>
       </div>
</center>


