</br>
<center>
{{!-- about company section starts here  --}}
 
 <div class="row">
     {{!-- company overview card --}}
  <div class="col-sm-4">

     <h1> WELCOME </h1>

  </div> {{!-- company overview card ends here --}}

{{!-- company stock overview card --}}
  <div class="col-sm-8">


  </div> {{!-- comapny stock overview card ends here  --}}
</div>








 


</br>
</center>
